manifest {
    author = 'Robert A. Petit III'
    name = 'bactopia'
    homePage = 'https://github.com/bactopia/bactopia'
    description = 'An extensive workflow for processing Illumina sequencing of bacterial genomes.'
    mainScript = 'main.nf'
    version = '1.6.0'
    nextflowVersion = '>=19'
}


profiles {
    conda {
        process {
            withName: ariba_analysis {
                    conda = "${workDir}/../conda/envs/ariba_analysis-${container_version}"}
                }
          }

    docker {
            process {
            withName: ariba_analysis {
                    container = ghcr.io/bactopia/ariba_analysis:${manifest.version}"}

            }


    test {
    	process.ext.template = {"${task.process}.sh"}
        process {
            echo = true}
                
        		}
        env {
        ARIBA_DATABASES = ""
        container_version = "1.6.x"
        VERSION = "1.6.0"
    	outdir = "test_output"
    	sample = "TEST_SAMPLE"
  		final_sample_type = "paired-end" 
   	 	single_end = "test"
    	run_type = "fastqs"
        }

    }
}